In [14]:

from ast import List
import os
import pandas as pd

# Get list of all CSV files in Gurugram_static folder
csv_files = [f for f in os.listdir('../data/Gurugram_Static') if f.endswith('.csv')]


# Get first CSV file from the list
first_file = csv_files[2]
print(f"Reading file: \n\n {first_file}")

# Read the CSV file into a dataframe
df = pd.read_csv(f'../data/Gurugram_Static/{first_file}')

# Display first few rows of the dataframe
print(df.head())

Reading file:

 vayu_Gurugram_static_sensor_data_July_2024.csv
       id device_name        lat       long  pm_25  pm_10     no2    co  co2  \
0  292755     TARA054  28.394264  77.030457   51.9   70.2  2001.0  0.95  NaN
1  292761     TARA054  28.394264  77.030457   51.9   70.2  2002.2  0.95  NaN
2  292762     TARA044  28.440115  77.035553   63.5   85.9     0.0  1.60  NaN
3  292767     TARA054  28.394264  77.030457   51.9   70.2  2002.0  0.94  NaN
4  292768     TARA044  28.440115  77.035553   63.5   85.9     0.0  0.94  NaN

   ch4  temp    rh          data_created_time
0  NaN  33.7  63.0  2024-07-01 00:00:00+00:00
1  NaN  33.7  63.0  2024-07-01 00:01:00+00:00
2  NaN  34.6  60.0  2024-07-01 00:00:00+00:00
3  NaN  33.7  64.0  2024-07-01 00:02:00+00:00
4  NaN  34.5  60.0  2024-07-01 00:01:00+00:00

In [15]:
# List to hold dataframes
dfs = []

# Loop through each file in the csv_files list
for file in csv_files:
  # Read the CSV file into a dataframe
  df = pd.read_csv(f'../data/Gurugram_Static/{file}')
  # Append the dataframe to the list
  dfs.append(df)

# Concatenate all dataframes in the list
combined_df = pd.concat(dfs, ignore_index=True)

# Save the combined dataframe to a new CSV file
# Check if Combine folder exists, if not create it
import os

if not os.path.exists('../data/Gurugram_Static/Combine'):
    os.makedirs('../data/Gurugram_Static/Combine')

combined_df.to_csv('../data/Gurugram_Static/Combine/combined_data.csv', index=True)

print("Combined CSV file created successfully.")

Combined CSV file created successfully.

In [ ]:
Combined_df = pd.read_csv('../data/Gurugram_Static/Combine/combined_data.csv')

# Combined_df.head()
# Get total number of records in the dataframe
# len(Combined_df)

7915360

In [ ]:
# Rename Columns.
Combined_df= Combined_df.rename(columns={'pm_25':'PM_25','pm_10':'PM_10', 'no2':'NO2', 'co':'CO', 'co2':'CO2', 'ch4':'CH4', 'temp':'TEMP', 'rh':'RH', 'data_created_time':'datetime'})

Combined_df.head()

,Unnamed: 0.1,Unnamed: 0,id,device_name,lat,long,PM_25,PM_10,NO2,CO,CO2,CH4,TEMP,RH,datetime
0,0,0.0,1394757,TARA046,28.503763,77.007607,10.7,14.5,19.67,0.05,NaN,NaN,33.8,61.0,2024-08-01 00:00:00+00:00
1,1,1.0,1394772,TARA020,28.465345,77.053970,7.8,10.6,58.43,0.93,NaN,NaN,29.3,80.0,2024-08-01 00:00:00+00:00
2,2,2.0,1394777,TARA045,28.498831,77.088463,9.4,12.7,58.60,1.02,NaN,NaN,31.1,70.0,2024-08-01 00:00:00+00:00
3,3,3.0,1394778,TARA023,28.446369,77.100067,7.6,10.3,20.77,0.93,NaN,NaN,31.1,70.0,2024-08-01 00:00:00+00:00
4,4,4.0,1394779,TARA024,NaN,NaN,8.4,11.4,16.53,0.91,NaN,NaN,30.6,75.0,2024-08-01 00:00:00+00:00

In [12]:
# Convert timestamp to datetime format
Combined_df['datetime'] = pd.to_datetime(Combined_df['datetime'])

# Extract hourly time format
Combined_df['hour'] = Combined_df['datetime'].dt.strftime('%Y-%m-%d %H:00:00')

# Group by hourly intervals and compute mean values of parameters
hourly_data = Combined_df.groupby('hour')['PM_25','PM_10','NO2','CO','CO2','CH4','TEMP','RH'].mean().reset_index()

print("Hourly Data:\n", hourly_data.head(10))

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_9424\2050447038.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  hourly_data = Combined_df.groupby('hour')['PM_25','PM_10','NO2','CO','CO2','CH4','TEMP','RH'].mean().reset_index()

Hourly Data:
                   hour      PM_25       PM_10         NO2        CO  \
0  2024-07-01 00:00:00  68.251908   91.715267  460.938550  0.943468
1  2024-07-01 01:00:00  85.198491  115.347547  466.071698  0.896257
2  2024-07-01 02:00:00  65.933607   88.376639  580.608134  0.872784
3  2024-07-01 03:00:00  79.784375  107.911607  537.203929  0.860178
4  2024-07-01 04:00:00  68.017371   91.890141  567.042911  0.754302
5  2024-07-01 05:00:00  60.860766   82.260766  578.799904  0.806180
6  2024-07-01 06:00:00  51.431250   69.510937  485.265000  0.751667
7  2024-07-01 07:00:00  43.924265   59.655515  454.660331  0.712735
8  2024-07-01 08:00:00  60.429856  124.657914  445.821079  0.896555
9  2024-07-01 09:00:00  54.857621   80.421190  454.649814  1.019004

          CO2           CH4       TEMP         RH
0  552.088235  1.597163e+06  34.719084  60.854962
1  560.468750  1.436253e+06  34.703019  61.101887
2  563.333333  1.537333e+06  34.506148  61.016393
3  548.972222  1.509533e+06  34.010268  62.897321
4  547.378378  1.446136e+06  33.814554  62.455399
5  549.967742           NaN  33.430622  63.311005
6  541.666667           NaN  32.678516  65.203125
7  531.447368           NaN  33.387132  61.761029
8  526.975000           NaN  34.520504  57.532374
9  536.868421           NaN  34.905204  56.970260

In [16]:
# Save the hourly data to a csv file
hourly_data.to_csv('../data/Gurugram_Static/Combine/CombinedHourly_Data.csv', index = False)